<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/menu.css" th:href="@{/css/menu.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body class="center">
<div class="user" th:replace="fragments/loginfo" >...</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>FIAT</th>
        <th>BTC</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.balance}">$</td>
        <td th:text="${wallet.quantity}"></td>
        <td><a th:href="@{/offers/buy}"><button type="button" class="btn btn-warning">Buy</button></a></td>
        <td><a th:href="@{/offers/sell}"><button type="button" class="btn btn-danger">Sell</button></a></td>
        <td><a th:href="@{/transactions/send}"><button type="button" class="btn btn-danger">Send BTC</button></a></td>

    </tr>
    </tbody>
</table>
</body>
</html>