<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sell</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Sell</h2>
<form action="#" th:action="@{/users/sell}" th:object="${offer}" method="post">
    <div hidden>
        <input type="text" th:field="*{id}" readonly="readonly"/>
        <input type="number" th:field="*{age}" readonly="readonly"/>
    </div>
    <table>

        <tr>
            <td><label>Balance in BTC</label></td>
            <td th:text="${wallet.quantity}"></td>
        </tr>
        <tr>
            <td><label>Quantity</label></td>
            <td><input type="text" th:field="*{credit_card}" /></td>
            <td th:if="${#fields.hasErrors('credit_card')}" th:errors="*{credit_card}" class="error"></td>
        </tr>


    </table>
    <a href="add"><button type="submit" class="btn btn-success">Modifica un Ciudadano</button></a>
    <a th:href="@{/users/profile/{id}(id=${users.id})}"><button type="button" class="btn btn-warning">Return</button></a>


</form>
</body>
</html>